<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1"></meta>
<title>Game</title>
<!-- CSS -->
<link rel="stylesheet" href="css/global.css" />
<link rel="stylesheet" href="css/canvas.css" />
<!-- JS EXTERNE -->
<script src="/webjars/jquery/jquery.min.js"></script>
<script src="/webjars/sockjs-client/sockjs.min.js"></script>
<script src="/webjars/stomp-websocket/stomp.min.js"></script>
<!-- CANVAS -->
<script type="text/javascript" src="js/canvas/canvas-keyboard.js"></script>
<script type="text/javascript" src="js/canvas/canvas-mouse.js"></script>
<script type="text/javascript" src="js/canvas/canvas-draw.js"></script>
<!-- SOCKET -->
<script type="text/javascript" src="js/socket/socket-param.js"></script>
<script type="text/javascript" src="js/socket/socket-message.js"></script>
<script type="text/javascript" src="js/socket/socket-update.js"></script>
<script type="text/javascript" src="js/socket/socket-init.js"></script>
</head>
<body>

	<canvas id="gameCanvas">
	
		Your browser doesn't support canvas. Sorry :(
	
	</canvas>

</body>
</html>