<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1"></meta>
<!-- CSS -->
<link rel="stylesheet" href="css/global.css" />
<title>Header</title>
</head>
<body>

	<div id="header" th:fragment="header">
		<button onclick="location.href='/'">Main page</button>
		<!-- if not connected -->
		<button onclick="location.href='/login';">Log in</button>
		<button onclick="location.href='/signin';">Sign in</button>
		<!-- if connected -->
		<button onclick="location.href='/createGame'">Create a server</button>
		<button onclick="location.href='/servers'">Join a server</button>
	</div>

</body>
</html>