<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"></meta>
<title>Login</title>
</head>
<body>

<div id="header-index" th:replace="header :: header"></div>

	<p th:text="${error}"></p>

	<form th:action="@{/login}" method="post">

		<label for="username">Login : </label><br /> 
		<input type="text" id="username" name="username" />
		<br /> 
		<label for="password">Password : </label><br /> 
		<input type="password" id="password" name="password" />
		<button>Submit</button>

	</form>

</body>
</html>