<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1" />
<title>New Account</title>
</head>
<body>

	<div id="header-index" th:replace="header :: header"></div>

	<p th:text="${error}"></p>

	<form action="signin" method="post">

		<label for="login">Login : </label><br /> <input type="text"
			id="login" name="login" /><br /> <label for="email">Email : </label><br />
		<input type="text" id="email" name="email" /><br /> <label
			for="password">Password : </label><br /> <input type="password"
			id="password" name="password" /><br /> <label for="confirm_password">Confirm
			password : </label><br /> <input type="password" id="confirm_password"
			name="confirm_password" /><br />
		<button>Submit</button>

	</form>

</body>
</html>