<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1" />
<title>New Account</title>
</head>
<body>

	<div id="header-index" th:replace="header :: header"></div>

	<p th:text="${error}"></p>

	<form action="/signin" method="POST" th:object="${user}" enctype="utf8">

		<label for="login">Login : </label>
		<input th:field="*{login}" />
		<br /> 
		<label for="email">Email :</label>
		<input type="email" th:field="*{email}" />
		<br /> 
		<label for="password">Password : </label>
		<input type="password" th:field="*{password}" />
		<br /> 
		<label for="confirm_password">Confirm password : </label>
		<input type="password" th:field="*{confirmPassword}" />
		<br />
		<button>Submit</button>

	</form>

</body>
</html>